body {
    background-color: lightgray;
}

.header {
   background-color: orange; 
   text-align: center;
   margin-top: -22px;
}

.header span {
    color:white;
}

.header ul {
    list-style: none;
    text-align: center;
}

.header ul li {
    display: inline-block;
    padding: 12px;
    color: white;
}

.header ul li a {
    text-decoration: none;
    color: white
}

.corpo {
    margin: auto;
    width: 920px;
}

.imagem {
    margin-top: 35px;
}

.post {
    background-color: white;
    width: 660px;
    padding: 10px;
    float: left;
    margin-bottom: 20px;
}

.post h2 {
    color: orange;
    text-align: left;
    margin: 0%;
}

.post h3 {
    text-align: left;
    margin: 0%;
}

.post p {
    text-align: justify;
    margin: 10px;
}

.post a {
    text-align: justify;
    color: orange;
}

.post h4 {
    background-color: lightgrey;
    text-align: center;
}

.quadro {
    float: right;
    margin-top: -655px;
    text-align: justify
}

.recent {
    background-color: white;
    width: 200px;
    margin-top: 10px;
    padding: 10px;
    text-align: start;
}

.recent h4 {
    background-color: lightgrey;
}

.recent ul {
    list-style: none;
    padding: 0px;
    text-align: left;
}

.recent a {
    color: orange;
}