<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header class="header">
        <h1>Tec<span>Blog</span></h1>
        <ul>
            <li><a href="home.html"></a>Home</li>
            <li><a href="jogos.html"></a>Jogos</li>
            <li><a href="celulares.html"></a>Celulares</li>
            <li><a href="informatica.html"></a>Informática</li>
            <li><a href="eletronicos.html"></a>Eletrônicos</li>
        </ul>
    </header>

    <div class="corpo">
        <div class="post">
            <h2>Título da postagem 1</h2>
            <h3>Postado 29 de março 2022</h3>
            <img class="imagem" src="../static/img/imagem1.jpg" alt="computador e café">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione eveniet expedita incidunt, consequatur praesentium doloribus, voluptates cupiditate perferendis minus fugit similique obcaecati architecto iure quisquam excepturi minima exercitationem voluptatem earum?</p>
            <a href="#">Leia mais</a>
        </div>

        <div class="post">
            <h2>Título da postagem 2</h2>
            <h3>Postado 20 de março 2022</h3>
            <img class="imagem" src="../static/img/imagem2.jpg" alt="computadores">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur nesciunt totam fuga distinctio rerum omnis assumenda, nemo at ipsa iusto voluptates, illum voluptatibus natus sit impedit! Earum voluptas explicabo id.</p>
            <a href="#">Leia mais</a>
            <h4>Todos os direitos reservados</h4>
        </div>

        <div class="recent">
            <h4>Postagens recentes</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas nihil eveniet delectus enim? Voluptate eaque distinctio, aut neque itaque dolor qui delectus necessitatibus asperiores voluptas quibusdam reprehenderit officia, repellendus quod!</p>
            <a href="#">Leia mais</a>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia magnam fugit repudiandae. Facere, voluptate accusantium voluptates inventore ipsam doloribus fugit, laudantium modi illo repellendus magnam facilis neque est cum quia.</p>
            <a href="#">Leia mais</a>

        </div>

        <div class="recent">
            <h4>Categorias</h4>
            <ul>
                <li> <a href="home.html">Home</li></a>
                <li> <a href="jogos.html">Jogos</li></a>
                <li> <a href="celulares.html">Celulares</li></a>
                <li> <a href="informática.html">Informática</li></a>
                <li> <a href="eletrônicos.html">Eletrônicos</li></a>
            </ul>
        </div>
</div>
    
</corpo>
</html>